.Text-Menu.MuiListItemText-root > span {
    font-size: 13px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
}
.Text-Menu.MuiListItemText-root {
    margin: 0 20px 0 20px;
}
hr.MuiDivider-root {
    margin: 0px 20px 0px 20px;
}
.Button-Menu.MuiButtonBase-root {
    color: #fff!important;
    font-size: 13px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: none;
}
.Button-Menu > span.MuiButton-endIcon {
    margin-right: 0px;
    margin-left: 2px;
}
.Button-Menu > span.MuiButton-endIcon > svg.MuiSvgIcon-root {
    font-size: 13px;
}
.List-Menu.MuiPopover-root {
    margin-top: 10px;
}
svg.SubHeader-Icon {
    font-family: 'themify';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    font-size: 17px;
}
svg.Shopping-Icon {
    font-family: 'themify';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    font-size: 17px;
}
button.MuiButtonBase-root:hover {
    background: rgba(0, 0, 0, 0);
}
div.MuiButtonBase-root:hover {
    background: rgba(0, 0, 0, 0);
}
span.MuiBadge-badge {
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    height: 18px;
    border-radius: 50px;
    top: -4px;
    right: -4px;
    width: 16px;
    text-align: center;
}
button.MuiButtonBase-root {
    padding: 4px;
}
.Sub-Menu-Body {
    width: 360px;
    height: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-size: 100%;
    font-family: inherit;
    background: rgba(255,255,255,.85);
}
div.Text-Sub-Menu > span {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 2em;
    font-weight: 800;
    text-transform: none;
    letter-spacing: 0px;
    color: #000000;
}
div.Text-Sub-Menu > span:hover {
    color: #FF4A52;
}
li.Item-Sub-Menu {
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.Img-Sub-Menu {
    background-size: cover;
    background-position: center center;
    height: 25vh;
    width: 40vh;
    border-radius: 2%;
    margin-bottom: 4%;
    margin-left: 11%;
}
div.Img-Sub-Menu-Price {
    color: white;
    background-color: #FF4A52;
    width: fit-content;
    height: 15%;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    position: relative;
    top: 40%;
}
h5.Img-Sub-Menu-Name {
    color: white;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: left;
    position: relative;
    top: 50%;
    left: 5%;
}
div.Img-Sub-Menu-Price > div > span {
    font-size: 13px;
    font-weight: 400;
    opacity: .6;
    text-decoration: line-through;
    margin-right: 5px;
}
div.Icon-Sub-Menu {
    margin-top: 45px;
    margin-left: 11%;
    padding-bottom: 50px;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    background: rgba(255,255,255,.85);
}
div.Icon-Sub-Menu > svg {
    font-size: 26px;
    line-height: 24px;
}
div.Icon-Sub-Menu > svg:hover {
    color: #FF4A52;
}
/* CSS phần Header của trang Home */